html,
body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}
:is(body, aside) {
	display: flex;
	flex-direction: row;
	&:is(aside) {
		flex-direction: column;
	}
	& > * {
		flex: 0 1 50%;
		padding: 1ex;
		overflow: auto;
	}
}
input {
	flex-basis: content;
}
textarea {
	resize: none;
}
iframe {
	border: none;
	background-color: transparent;
}
